<!-- Featueres section -->

<div class="row justify-content-center text-center mt-lg-3">
    <div class="col-lg-4">

        <img src = 'images/KeySearch.webp', width = '50%'>
        <h2 class="h2">Keyboard Input <small class="d-none">🛡️</small></h2>
        <p>Use our virtual piano to play a song of your choosing, and let our algorithms find any matches.</p>
    </div>
    <div class="col-lg-4">

        <img src = 'images/MusicScan.webp', width = '50%'>
        <h2 class="h2">Sheet Music Scan <small class="d-none">🚀</small></h2>
        <p>Scan a PDF of sheet music to find all recordings of the full work.</p>
    </div>
    
    <div class="col-lg-4">

        <img src = 'images/Friends.webp', width = '50%'>
        <h2 class="h2">Harmonizer<small class="d-none">📈</small></h2>
        
        <p>Develop a listening profile based off your search history, and find users with tastes similar to your own.</p>
    </div>
</div>

<div class="row justify-content-center text-center mt-lg-3">
    <div class="col-lg-4">
        <img src = 'images/Breakdown.webp', width = '50%'>
        <h2 class="h2">Breakdown <small class="d-none">🦉</small></h2>
        <p>Learn everything about your favorite songs, from tempo markings and chord progressions to the origins of samples and how they were altered.</p>
    </div>
    <div class="col-lg-4">
        <img src = 'images/ConcertFind.webp', width = '50%'>
        <h2 class="h2">Your Local Concierge <small class="d-none">✨</small></h2>
        <p>Provide your favorite genres, descriptive tags, and other musical characteritics, and we'll find concerts in your area which fit the bill.</p>
    </div>
    <div class="col-lg-4">
        <img src = 'images/Contribute.webp', width = '50%'>
        <h2 class="h2">An Ever-Growing Database <small class="d-none">🧰</small></h2>
        <p>With users able to contribute song data, our musical compendium will never become out of date.</p>
    </div>
</div>